@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{

    margin: 0;
    padding: 0;
}
body{
    /* background-color: papayawhip; */
    background-color: #1f6f2c;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: bolder; 
}
h1{
    color: goldenrod;
    margin: 30px;
}
h2{
    margin: 20px;
    color: whitesmoke;
}
#messeage{
    font-style: italic;
}
button{
    font-family: inherit;
    padding: 7px 20px;
    font-weight: bolder;
    border-radius: 2px;
    /* border: none; */
    background-color: goldenrod;
    width: 20rem;
    margin-bottom: 7px;
}
